<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <servlet>
    <servlet-name>area</servlet-name>
    <servlet-class>zx.soft.data.servlet.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>area</servlet-name>
    <url-pattern>/area</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>assets</servlet-name>
    <servlet-class>zx.soft.data.servlet.ComputerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assets</servlet-name>
    <url-pattern>/assets</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>attack</servlet-name>
    <servlet-class>zx.soft.data.servlet.AttackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attack</servlet-name>
    <url-pattern>/attack</url-pattern>
  </servlet-mapping>
  
</web-app>